.background-container {
    min-height: 100vh;
    background-image: url('../asset/image/Background.jpg');
    background-size: cover !important;
    background-repeat: no-repeat;
    background-position: center center;

}

img {
    height: 165px;
    width: 165px;
}

.user-login {
    text-align: center;
    font-size: larger;
    font-family: Georgia;
}

.bg-glass {
    background-color: hsla(0, 0%, 100%, 0.425) !important;
    backdrop-filter: saturate(200%) blur(25px);
}

.form-container {
    width: 40rem;

}

.nav-container {
    /* height: 60px; 
    width: 60px; */
    font-family: Georgia;
    font-size: xx-large;
    font-weight: bolder;
    text-decoration: none;
    align-self: center;
    color: black;
}


.logo {
    height: 60px;
    width: 60px;
}


.text-success {
    color: green;
}

#nameError {
    display: none;
}
